In [27]:
import pandas as pd
import numpy as np

In [17]:
legend = pd.read_csv("./37_28_barcodes_legend_empty.csv")
assign = pd.read_csv("./37_28_well_coord_assignment.csv")

In [18]:
legend

,Row,Column,WellPosition,Name,Barcode,X,Y,Z,string_matching_algorithm,X_maxdist,Y_maxdist,Z_maxdist
0,A,1,A1,Round1_01,AACGTGAT,NaN,NaN,NaN,levenshtein,1.0,1.0,3.0
1,B,1,B1,Round1_02,AAACATCG,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,C,1,C1,Round1_03,ATGCCTAA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,D,1,D1,Round1_04,AGTGGTCA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E,1,E1,Round1_05,ACCACTGT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
91,D,12,D12,Round1_92,GAACAGGC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,E,12,E12,Round1_93,GACAGTGC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,F,12,F12,Round1_94,GAGTTAGC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,G,12,G12,Round1_95,GATGAATC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,H,12,H12,Round1_96,GCCAAGAC,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
assign.head()

   X_Coord X_WellPosition  Y_Coord Y_WellPosition  Z_Coord Z_WellPosition
0       49            NaN        0            NaN      0.0             A1
1       48             B1        1             B1      0.0             C4
2       47             C1        2             C1      0.0             D6
3       46             D1        3             D1      0.0             F6
4       45             A2        4             A2      NaN            NaN

In [50]:
coord_names = [n for n in ['X', 'Y', 'Z'] if n in legend.columns]

In [53]:
def create_pos_to_coord_dict(assignment_dataframe, coord_name):
    d = {pos: coord for (pos, coord) in zip(assignment_dataframe[coord_name + "_WellPosition"], assignment_dataframe[coord_name + "_Coord"]) if not pd.isnull(pos)}
    return d

In [57]:
pos_to_coords = {name: create_pos_to_coord_dict(assign, name) for name in coord_names}

In [68]:
def fill_legend(legend, pos_to_coords, name):
    new_column = []
    
    for pos in legend["WellPosition"]:
        if pos in pos_to_coords[name]:
            entry = pos_to_coords[name][pos]
            new_column.append(entry)
        else:
            new_column.append(pd.NA)
    
    legend[name] = new_column

In [69]:
for name in coord_names:
    fill_legend(legend, pos_to_coords, name)

In [70]:
legend

,Row,Column,WellPosition,Name,Barcode,X,Y,Z,string_matching_algorithm,X_maxdist,Y_maxdist,Z_maxdist
0,A,1,A1,Round1_01,AACGTGAT,<NA>,<NA>,0.0,levenshtein,1.0,1.0,3.0
1,B,1,B1,Round1_02,AAACATCG,48,1,<NA>,NaN,NaN,NaN,NaN
2,C,1,C1,Round1_03,ATGCCTAA,47,2,<NA>,NaN,NaN,NaN,NaN
3,D,1,D1,Round1_04,AGTGGTCA,46,3,<NA>,NaN,NaN,NaN,NaN
4,E,1,E1,Round1_05,ACCACTGT,3,46,<NA>,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
91,D,12,D12,Round1_92,GAACAGGC,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN
92,E,12,E12,Round1_93,GACAGTGC,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN
93,F,12,F12,Round1_94,GAGTTAGC,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN
94,G,12,G12,Round1_95,GATGAATC,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN
95,H,12,H12,Round1_96,GCCAAGAC,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN